# Dependency directories
node_modules/

# Environment variables file
.env

# Log files
*.log

# Debugging files
npm-debug.log*

# IDE/Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*

# Mac specific files
.DS_Store

# User-specific files
*.sublime-project
*.sublime-workspace
